.globalWrapper {
  display: flex;
  flex-direction: column;
}
.homeWrapper {
  padding: 0 150px;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}

.homeCopy {
  font-weight: 900;
  padding: 10px;
  padding-left: 0px;
  margin-top: 10px;
}
h2 {
  text-align: justify;
  text-justify: inter-word;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 32px;
}

/* Media querrie */

/* Mobile version */

@media screen and (max-width: 767px) {
  .homeWrapper {
    padding: 0 25px;
  }

  .homeContainer {
    margin-top: 30px;
  }

  .homeCopy {
    font-weight: 900;
    padding: 10px;
    padding-left: 0px;
    margin-top: 10px;
  }
}

/* Tablet version */
/* tablet, landscape iPad, lo-res laptops ands desktops */

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .homeWrapper {
    padding: 0 25px;
  }
}
