.globalWrapper {
  display: flex;
  flex-direction: column;
}
.homeWrapper {
  display: flex;
  flex-direction: row;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 900;
}
h2 {
  font-weight: 400;
}
