.locationWrapper {
  display: flex;
  margin-top: 20px;
  /* padding: 0 150px; */
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.locationContainer {
  width: 100%;
}
.title {
  font-size: 72px;
  font-weight: 800;
  margin-bottom: 25px;
}
.subTitle {
  font-size: 23px;
  font-weight: 300;
}
.location-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.location-content {
  display: flex;
  flex-direction: row;
}
.location-header-info {
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
}

.location-header-host {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.location-header-host img {
  width: 64px;
  border-radius: 50%;
  margin-left: 20px;
}

.location-header-location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: white;
  border-radius: 7px;
  padding: 10px;
}

.location-tags-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0%;
}

li {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  border-radius: 18px;
  margin-right: 10px;
}

.location-header-name {
  display: flex;
  width: 52px;
  justify-content: flex-end;
  flex-direction: row;
  text-align: end;
}

.titleSubtitle {
  padding: 100px 150px 50px 150px;
}

.coverImg {
  height: 320px;
  width: 100%;
  object-fit: cover;
}

.projectInfo {
  padding: 40px 150px 200px 150px;
}

/* Media querrie */

/* Mobile version */

@media screen and (max-width: 767px) {
  /* .galleryContainer {
    padding: 30px 40px 50px 40px;
  } */
  .locationWrapper {
    /* padding: 0 25px; */
    margin-top: 2px;
  }

  .location-content {
    display: flex;
    flex-direction: column;
  }

  .location-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    align-content: flex-start;
  }
  .location-header-info h1 {
    font-style: Medium;
    font-style: 18px;
    line-height: 26px;
    line-height: 143%;
    box-align: Left;
  }

  .location-header-host {
    left: 65%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    right: 0%;
    top: 63%;
    position: absolute;
  }
  .location-header-host img {
    width: 32px;
    border-radius: 50%;
    margin-left: 20px;
  }
  .location-header-name {
    font-size: 12px;
  }
  h1 {
    margin-bottom: 2px;
  }
  h3 {
    font-size: 14px;
  }
  li {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    border-radius: 10px;

    color: white;
    margin-right: 10px;
  }

  .location-tags-rating {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 50;
  }

  .location-tagsList {
    margin-bottom: 28px;
  }
}

/* Tablet version */
/* tablet, landscape iPad, lo-res laptops ands desktops */

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .locationWrapper {
    /* padding: 0 25px; */
    margin-top: 2px;
  }
}
