* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #28293e;
  color: white;
  font-family: "Epilogue";
}

/* unvisited link */
a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

h1 {
  font-weight: bold;
  font-size: 2.5em;
}
h2 {
  font-size: 1.5em;
  line-height: 32px;
}

.logo {
  border-radius: 50%;
  padding: 20px;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 30px;
}
