.aboutLinks {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}
.aboutContact {
  padding-top: 40px;
}
.aboutLinksButton {
  display: flex;
  margin: 20px auto 20px auto;
  padding: 3px;
  /* font-size: 24px; */
  font-size: 44px;
  font-weight: 800;
  background-color: #0000ff;
  color: #fff;
  word-break: break-word;
}

.conctactTitleSubtitle {
  padding-top: 40px;
}
.abouthomeTitleSubtitle {
  padding: 100px 150px 50px 150px;
}
/* Media querrie */

/* Mobile version */

@media screen and (max-width: 767px) {
  .abouthomeTitleSubtitle {
    padding: 30px 40px 10px 40px;
  }
  .aboutContact {
    padding: 30px 40px 10px 40px;
  }
}
