.globalWrapper {
  display: flex;
  flex-direction: column;
}
.homeWrapper {
  display: flex;
  /* margin-top: 20px; */
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.homeContainer {
  width: 100%;
}

.home-header-info {
  font-family: Montserrat;
  display: flex;
  flex-direction: row;
}
.homeTitleSubtitle {
  width: 80%;
  padding: 100px 150px 50px 150px;
}
.homeCopy {
  font-weight: 900;
  margin-top: 10px;
  padding: 100px 150px 50px 150px;
}
h2 {
  text-align: left;
  text-justify: inter-word;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.6;
}

.homeTitle {
  font-size: 44px;
  font-weight: 800;
  margin-bottom: 25px;
  padding-top: 10px;
}

.homeSubTitle {
  font-size: 23px;
  font-weight: 300;
  padding-top: 10px;
}
.logo {
  border-radius: 50%;
  padding: 20px;
  height: 360px;
  position: relative;
  left: -151px;
  margin-top: 65px;
}

/* Media querrie */

/* Mobile version */

@media screen and (max-width: 767px) {
  /* .homeWrapper {
    padding: 0 25px;
  } */
  .homeTitleSubtitle {
    padding: 30px 40px 10px 40px;
    position: relative;
    top: 280px;
    width: 100%;
  }
  .home-header-info {
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
  }
  .homeContainer {
    margin-top: 30px;
  }

  .homeCopy {
    font-weight: 900;
    padding: 10px;
    padding-left: 0px;
    margin-top: 10px;
  }

  .homeTitle {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 25px;
  }
  .homeSubTitle {
    font-size: 18px;
    font-weight: 300;
  }
  .logo {
    border-radius: 50%;
    padding: 20px;
    height: 300px;
    /* margin: auto; */
    position: relative;
    left: 10%;
    top: -340px;
    margin-top: 30px;
  }
}

/* Tablet version */
/* tablet, landscape iPad, lo-res laptops ands desktops */

@media screen and (min-width: 768px) and (max-width: 1150px) {
  /* .homeWrapper {
    padding: 0 25px;
  } */
  .homeTitleSubtitle {
    width: 60%;
    padding: 100px 24px 50px 60px;
  }
  .logo {
    margin-right: 60px;
    left: 22px;
  }
}
