* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #080d6d;
  color: white;
  font-family: "Epilogue";
}

/* unvisited link */
a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  /* background: rgb(44 15 235 / 100%); */
  /* font-size: 110%;
  transition: 0.2s; */
  border-radius: 10px;
}

/* selected link */
a:active {
  color: blue;
}
